/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@300&display=swap');

/* Asterix wildcard selector to remove default styles added by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #363b4e;
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Archivo', sans-serif;
    color: #FFFFFF;
    font-size: 2em;
    margin-bottom: 0.5rem;
}

h1 {
    color: #2a2438;
}

/* Header */
header {
    background-color: #c4bbf0;
    padding: 1rem 1rem;
    position: fixed;
    width: 100%;
    z-index: 99;
    box-shadow: 0 1px 1px #363b4e;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    list-style-type: none;
    letter-spacing: 3px;
}

#menu>li {
    margin-bottom: 0.75rem;
}

.active {
    border-bottom: 1px solid #363b4e;
}

/* Navbar styles with dropdown toggle */

nav {
    position: absolute;
    background-color: #c4bbf0;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 1px 1px #363b4e;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    background-color: #927fbf;
    /* Make main element take up surplus space to push footer down to the bottom */
    flex: 1 0 auto;
    margin-top: 77px;
}

/* Hero image */
#hero {
    height: 710px;
    width: 100%;
    background: url("../images/salem-flowerduvet-big-eyes.webp") no-repeat center center/cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#cover-text {
    background-color: rgba(54, 59, 78, 0.6);
    font-size: 80%;
    width: 100%;
    padding: 10px;
}

p {
    padding: 10px;
}

/* starting flex-box code for reasons*/
#introduction-reasons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

#introduction-reasons div {
    list-style-type: none;
    border: 2px solid #4f3b78;
    border-radius: 10px;
    background-color: #c4bbf0;
    padding: 14px;
    margin: 10px;
    flex-basis: 150px;
    flex-grow: 1;
}

/* finishing flex-box code for reasons */

/* Salem's page */
#salems-main-photos img {
    height: 430px;
    width: 100%;
    border: 2px solid #4f3b78;
    border-radius: 10px;
}

/* Footer */
footer {
    background-color: #c4bbf0;
}

#social-networks {
    list-style-type: none;
    text-align: center;
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
}

#social-networks i {
    font-size: 140%;
    color: #363b4e;
    padding: 10%;
}

/* Media query : tablets and larger (768px and up) */
@media screen and (min-width:769px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main Content */
    main {
        margin-top: 107px;
    }
}

/* Media query : large devices (992px and up) */
@media screen and (min-width:769px) {
    #menu a:hover {
        border-bottom: 1px solid #363b4e;
    }
}