/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Asterix wildcard selector to remove default styles added by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #363b4e;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1em;
}

h1,
h3 {
    font-family: 'Playfair Display', serif;
    color: #2a2438;
    font-size: 2em;
    padding: 10px;
}

h2 {
    color: #E7C6FF;
    font-size: 2em;
}

/* Header */
header {
    background-color: #C8B6FF;
    padding: 1rem 1rem;
    position: fixed;
    width: 100%;
    z-index: 99;
    box-shadow: 0 1px 1px #363b4e;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    list-style-type: none;
    letter-spacing: 3px;
}

#menu>li {
    margin-bottom: 0.75rem;
}

.active {
    border-bottom: 4px solid #363b4e;
}

/* Navbar styles with dropdown toggle */

nav {
    position: absolute;
    background-color: #C8B6FF;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 1px 1px #363b4e;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Hero image */
#hero {
    height: 880px;
    width: 100%;
    background: url("../images/salem-flowerduvet-big-eyes.webp") no-repeat center center/cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 94px;
}

#cover-text {
    background-color: rgba(54, 59, 78, 0.6);
    font-size: 80%;
    width: 100%;
    padding: 15px;
}

p {
    padding: 10px;
}

/* Main content */
main {
    background-color: #E7C6FF;
    /* Make main element take up surplus space to push footer down to the bottom */
    flex: 1 0 auto;
}

.hidden-heading {
    display: none;
}

.intro-heading {
    font-family: 'Source Sans 3', sans-serif;
    font-size: larger;
    padding: 15px;
}

.intro-text-paragraph {
    text-align: justify;
    padding-top: 0;
    padding-bottom: 15px;
}

/* starting flex-box code for reasons*/
#introduction-reasons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

#introduction-reasons div {
    list-style-type: none;
    border: 2px solid #6F2DBD;
    border-radius: 10px;
    background-color: #C8B6FF;
    padding: 14px;
    margin: 10px;
    flex-basis: 150px;
    flex-grow: 1;
}

/* finishing flex-box code for reasons */

/* Button */
button {
    display: inline;
    border: 2px solid #6F2DBD;
    border-radius: 4px;
    background-color: #6F2DBD;
    color: #FFFFFF;
    font-size: 1.2rem;
    padding: 15px;
    float: right;
    margin: 10px;
    transition: all 200ms ease-in-out;
}

button:hover {
    color: #6F2DBD;
    background-color: #FFFFFF;
}

/* Salem's page */
.cats-main-photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #6F2DBD;
}
.cats-main-photos img {
    height: 430px;
    max-width: 100%;
    border: 3px solid #6F2DBD;
    border-radius: 10px;
}

.tablet-photos,
.laptop-photos {
    display: none;
}

/* Personal Details */
.personal-details {
    padding: 2rem 1rem 0rem 1rem;
}

th, td {
    padding: 10px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #6F2DBD;
}

th {
    text-align: left;
    font-size: 120%;
}

#circle-bg {
    background: url("../images/salem-cattree-ocean-eyes.webp") no-repeat top center/cover;
    height: 75vw;
    width: 75vw;   
    border-radius: 50%;
    border: 2px solid #6F2DBD;
    max-width: 250px;
    max-height: 250px;
    margin: 15px;
}

#cat-circle-image {
    display: flex;
    justify-content: center;
    padding-top: 1.4rem;
}

.story {
    text-align: justify;
    padding: 1rem;
    background-color: #C8B6FF;
    border-radius: 4px;
}

.story h2 {
    padding-left: 0.5rem;
}

.likes h3, .dislikes h3 {
    padding: 0.2em;
    text-align: center;
}

.likes, .dislikes {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.likes {
    background-color: #baa3ef;
}

.like-photo, .dislike-photo {
    width: 50vw;
    height: auto;
    max-width: 200px;
    margin: 20px;
    border-radius: 2px;
    border: 2px solid #6F2DBD;
    align-items: center;
}



/* Footer */
footer {
    background-color: #C8B6FF;
}

#social-networks {
    list-style-type: none;
    text-align: center;
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
}

#social-networks i {
    font-size: 140%;
    color: #363b4e;
    padding: 10%;
}

/* Media query : landscape mobiles and larger (653px and up) */
@media screen and (min-width:653px) {
    /* Main Content */

    /* Salem's page */
    .tablet-photos {
        display: revert;
    }

    .cats-main-photos img {
        max-width: 33%;
        height: auto;
    }
}

/* Media query : tablets and larger (768px and up) */
@media screen and (min-width:769px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 0.65rem;
        font-size: 1.5rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 2rem;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    #hero {
        margin-top: 127px;
    }

    /* Main Content */
    body {
        font-size: 1.5em;
    }

    /* Salem's page */
    .cats-main-photos {
        margin-top: 127px;
    }

    .tablet-photos {
        display: revert;
    }

    .cats-main-photos img {
        max-width: 33%;
        height: auto;
    }

    .personal-details {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .likes {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .dislikes {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }

}

/* Media query : large devices (952px and up) */
@media screen and (min-width:952px) {
    #menu a:hover {
        border-bottom: 4px solid #363b4e;
    }

    #logo {
        font-size: 3rem;
    }

    #hero {
        height: 1200px;
    }

    /* Salem's page */
    .cats-main-photos {
        margin-top: 116px;
    }

    .laptop-photos {
        display: revert;
    }

    .cats-main-photos img {
        max-width: 20%;
    }
}

/* Media query : larger monitors (1500px and up) */
@media screen and (min-width:1500px){
    body {
        font-size: 2rem;
    }

    #logo {
        font-size: 5rem;
    }

    #menu>li {
        font-size: 3rem;
    }

    #hero {
        margin-top: 143px;
        height: 1500px;
    }

    button {
        font-size: 3rem;
    }

    /* Salem's page */
    .cats-main-photos {
        margin-top: 143px;
    }
}

/* Media query : largest monitors (2500px and up) */
@media screen and (min-width:2500px){
    body {
        font-size: 3rem;
    }

    #logo {
        font-size: 10rem;
        padding: 20px;
    }

    #menu>li {
        font-size: 4rem;
    }

    #hero {
        margin-top: 193px;
        height: 2200px;
    }

    #cover-text h2 {
        font-size: 4rem;
        padding-left: 50px;
    }

    /* Salem's page */
    .cats-main-photos {
        margin-top: 193px;
    }
}